<?xml version="1.0" encoding="utf-8"?>
<Root>
  <Title>网站访问统计</Title>
  <Name>PageVisit</Name><!--注意大小写-->
  <Author>jumbot</Author>
  <Info>官方插件</Info>
  <Locked>0</Locked><!--1表示不可卸载；除非很完美，否则填0-->
  <SqlScript0>
    <![CDATA[
CREATE TABLE [jcms_extends_visitlogs] (
	[Id] AutoIncrement primary key ,
	[VisitIp] varchar(16) NULL,
	[VisitTime] datetime NOT NULL DEFAULT NOW(),
	[VisitCountry] varchar(20) NULL,
	[VisitIplocal] varchar(80) NULL,
	[VisitReferer] varchar(200) NULL,
	[VisitMethod] varchar(50) NULL
)
GO
]]></SqlScript0>
    <SqlScript1>
      <![CDATA[
if exists (select * from sysobjects where id = OBJECT_ID('[jcms_extends_visitlogs]') and OBJECTPROPERTY(id, 'IsUserTable') = 1) 
DROP TABLE [jcms_extends_visitlogs]
GO
CREATE TABLE [dbo].[jcms_extends_visitlogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[VisitIp] [nvarchar](16) NULL,
	[VisitTime] [datetime] NOT NULL DEFAULT (getdate()),
	[VisitCountry] [nvarchar](20) NULL,
	[VisitIplocal] [nvarchar](80) NULL,
	[VisitReferer] [nvarchar](200) NULL,
	[VisitMethod] [nvarchar](50) NULL,
     CONSTRAINT [PK_extends_visitlogs] PRIMARY KEY CLUSTERED 
	(
		[Id]
	) ON [PRIMARY] 
) ON [PRIMARY]
GO
]]></SqlScript1>
  <BaseTable>jcms_extends_pagevisit</BaseTable><!--插件生成的表,卸载时将自动删除，多个表用半角逗号隔开-->
  <Type>0</Type><!--0表示页面嵌入式；1表示外部链接式-->
</Root>