<?xml version="1.0" encoding="utf-8" ?>
<Root>
  <adv>
    <path><![CDATA[<#SiteDir#>uploadfiles/more/]]></path>
    <type><![CDATA[*.jpg;*.gif;*.swf;]]></type>
    <size>1024</size>
    <!--单位为KB-->
  </adv>
  <link>
    <path><![CDATA[<#SiteDir#>uploadfiles/link/]]></path>
    <type><![CDATA[*.jpg;*.gif;]]></type>
    <size>256</size>
    <!--单位为KB-->
  </link>
  <backup>
    <path><![CDATA[back]]></path>
    <type><![CDATA[*.jtf;]]></type>
    <size>204800</size><!--单位为KB-->
  </backup>
  <email_draft>
    <path><![CDATA[<#SiteDir#>uploadfiles/draft/]]></path>
    <type><![CDATA[*.rar;*.zip;*.doc;*.docx;*.xls;*.xlsx;*.pdf;*.txt;]]></type>
    <size>20480</size>
    <!--单位为KB-->
  </email_draft>
</Root>
