<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>
  <appSettings>
    <add key="FCKeditor:BasePath" value="/_libs/fckeditor/"/>
    <add key="JumboTCMS:WebmasterEmail" value="jumbotcms@vip.qq.com"/>
    <add key="AutoTask:SiteUrl" value=""/>
    <add key="AutoTask:Password" value="C9DE0F1F2C56443AC34348B72B"/>
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="1024000" requestValidationMode="2.0"/>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0"/>
    <!--如果程序已经在本地调试成功，则上传至服务器后将debug改为false-->
    <authentication mode="Windows"/>
    <pages validateRequest="false" enableSessionState="true" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpHandlers>
      <add verb="*" path="file.axd" type="JumboTCMS.Common.Handler.FileHandler" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
    </httpModules>
    
  </system.web>
  <rewriter configSource="_data\URLRewriter.config"/>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=EmulateIE7"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.codedom/>
</configuration>